<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.mall.cust.mapper.ClassMapper">
  <!-- Result Map -->
  <resultMap type="com.dh.mall.cust.model.ClassModel" id="BaseResultMap">
  <result column = "id" property = "id"/>
  <result column = "sclassname" property = "classname"/>
  <result column = "scode" property = "scode"/>
  <result column = "descr" property = "descr"/>
  <result column = "parentcode" property = "parentcode"/>
  </resultMap>
  <sql id="Base_Column_List">
  id,sclassname,scode,descr,parentcode
  </sql>
<!--   <insert id="insert" parameterType="Object"> -->
<!--   insert into jd.user (account,name,password,manage)value(#{account},#{username},#{password},#{manage}) -->
<!--   </insert> -->
  <select id="selectf" resultMap = "BaseResultMap" parameterType = "Object">
  select * from jd.secondlist where parentcode = "ss"
  </select>
  <select id="selects" resultMap = "BaseResultMap" parameterType = "Object">
  select * from jd.secondlist where parentcode not in ("ss")
  </select>
  </mapper>